/* font */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* font */

/* start of general styling */

body {
  print-color-adjust: exact;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

table {
  border-spacing: 0;
}

/* end of general styling */

/* start of loader styling */

#loader {
  z-index: 2;
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #e48f3e;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
}

#loader.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* end of loader styling */

/* start of landing page styling */

#landing-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-logo {
  margin: 40px auto;
  width: 320px;
}

#generate-manifest-button {
  border-radius: 8px;
  border: 2px solid #231f21;
  background-color: #e48f3e;
  color: #231f21;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 6px 12px;
}

/* end of landing page styling */

/* start of manifest format styling */

.margin-top {
  margin-top: 40px;
}

.margin-bottom {
  margin-bottom: 40px;
}

.border-top {
  border-top: 2px solid black;
}

.border-left {
  border-left: 2px solid black;
}

.border-bottom {
  border-bottom: 2px solid black;
}

.border-right {
  border-right: 2px solid black;
}

.full-width {
  width: 100%;
}

.three-quarter-width {
  width: 75%;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

.thirty-percent-width {
  width: 30%;
}

.twenty-percent-width {
  width: 20%;
}

.ten-percent-width {
  width: 10%;
}

.center-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-margin-top {
  margin-top: 160px;
}

.half-margin-top {
  margin-top: 80px;
}

.full-margin-bottom {
  margin-bottom: 160px;
}

.half-margin-bottom {
  margin-bottom: 80px;
}

/* end of manifest format styling */

/* start of manifest-specific styling */

.coaching-color {
  background-color: #8c1a11;
  color: white;
}

.shuttle-color {
  background-color: #719898;
  color: white;
}

.manifest-page {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.manifest-row {
  display: flex;
}

.manifest-cell {
  height: 40px;
}

.manifest-title {
  font-size: 28px;
  font-weight: 600;
}

.manifest-subtitle {
  font-size: 22px;
  font-weight: 400;
}

.manifest-field {
  font-size: 18px;
}

.manifest-note {
  height: 160px;
}

/* end of manifest-specific styling */
